src/*.exe
src/arguscoin
src/arguscoind
src/test_arguscoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.arguscoin

# Compilation and Qt preprocessor part
*.qm
Makefile
arguscoin-qt
ARGUSCOIN-Qt.app

# Unit-tests
Makefile.test
arguscoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
